@model grow.Models.ViewModels.DetailsPlantViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Plant Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plant.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plant.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plant.InitialImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.InitialImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plant.PlantType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.PlantType.Name)
        </dd>
    </dl>
    <div>
        <a asp-controller="PlantAudits" asp-action="Create" asp-route-id="@Model.Plant.PlantId">Update this plant's requirements</a>
    </div>

    <h4>Plant Requirements</h4>

    @foreach (PlantAudit audit in Model.PlantAudit)
    {
        <div>Date: @audit.DateCreated</div>
        <div>Light Requirements: @audit.Light.Requirements</div>
        <div>Water Regularity: @audit.Water.Regularity</div>
        <div>Infestation Issue? @audit.InfestationIssue</div>
        <div>Notes: @audit.Notes</div>
        <hr />
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Plant.PlantId">Edit Plant Details</a> | 
    <a asp-action="Index">Back to List of Plants</a>
</div>
