@model grow.Models.ViewModels.DetailsPlantViewModel

@{
    ViewData["Title"] = "Details";
    ViewBag.BodyClass = "faded-background-image";
}

<h1 class="form-styles">Plant Details</h1>

<div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="plant_image_details img-responsive" src="~/User_Files/Images/@Model.Plant.InitialImage" />
                </div>
            </div>
            <div class="col-sm-6 plant-details">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title text-center">@Html.DisplayFor(model => model.Plant.Name)</h2>
                        <h3 class="card-title text-center">@Html.DisplayNameFor(model => model.Plant.PlantType.Name): @Html.DisplayFor(model => model.Plant.PlantType.Name)</h3>
                        <h5 class="card-text text-center">@Html.DisplayNameFor(model => model.Plant.DateCreated): @Html.DisplayFor(model => model.Plant.DateCreated)</h5>
                        <p class="card-text text-center">@Html.DisplayNameFor(model => model.Plant.Water.Regularity): @Html.DisplayFor(model => model.Plant.Water.Regularity)</p>
                        <p class="card-text text-center">@Html.DisplayNameFor(model => model.Plant.Light.Requirements): @Html.DisplayFor(model => model.Plant.Light.Requirements)</p>
                        <p class="card-text text-center">@Html.DisplayFor(model => model.Plant.Notes)</p>
                        <button type="button" class="btn"><a class="button-link" asp-controller="PlantAudits" asp-action="Create" asp-route-id="@Model.Plant.PlantId">Update this plant's requirements</a></button>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">
                            <br />
                            <a class="details-link" asp-action="Edit" asp-route-id="@Model.Plant.PlantId">Edit Plant Details</a> |
                            <a class="details-link" asp-action="Index">Back to List of Plants</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h4 class="form-styles">History of this plant's requirements</h4>
    <div class="container">
        <div class="row">
            @foreach (PlantAudit audit in Model.PlantAudit)
            {
                <div class="col-sm-4">
                    <div class="card plant-row">
                        <img class="card-img-top plant_image center-block" src="~/User_Files/Images/@audit.UpdatedImage" />
                        <hr />
                        <div class="card-body text-center">
                            <h4 class="card-title text-center">Date: @audit.DateCreated</h4>
                            <p class="card-text text-center">Light Requirements: @audit.Light.Requirements</p>
                            <p class="card-text text-center">Water Regularity: @audit.Water.Regularity</p>
                            <p class="card-text text-center">Infestation Issue? @audit.InfestationIssue</p>
                        </div>
                        <div class="card-footer text-center">
                            <small class="text-muted">
                                <p>Notes: @audit.Notes</p>
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

