@model IEnumerable<grow.Models.Light>

@{
    ViewData["Title"] = "Index";
}

<h2>All Plant Light Requirements</h2>

<p>
    <a asp-action="Create">Create New Light Requirement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LightId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LightId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LightId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
